{% extends 'layout.html' %}

{% block title %}{% endblock %}


{% block content %}


  
    <div class="carousel">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <div class="play-pause">
        <span class="glyphicon glyphicon-play" aria-hidden="true"></span>
        <span class="glyphicon glyphicon-pause" aria-hidden="true"></span>
      </div>
      <div class="backward">
        <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
      </div>
      <div class="forward">
        <span class="glyphicon glyphicon-forward" aria-hidden="true"></span>
      </div>
   
      <div class="carousel-images">
        <!-- <img class="carousel" src="http://placehold.it/1200x300"> -->
      </div>

    </div>


  <div class="container">

    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>

  </div>

{% endblock %}
