<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Product Fine Vine</title>

    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.6/simplex/bootstrap.min.css" rel="stylesheet" integrity="sha256-rgHoMgF45/9e2kvxfvR0KarwQNw5CRqgxbrthGpeUuc= sha512-CGGV53FSdrXrjyGCNk04p+xuna3CbE33n773A0EEmqtcN8W3NaFsR0vSQcbll5dpSS90d3i2Zh3jFX/j46hzJA==" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/product.css">
  </head>
  <body>

  <header>
        <div class="jumbotron headpage">
          <h1>Fine Vine</h1>
        </div>

           <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" href="index.html">FINE VINE</a>
          </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li ><a href="index.html">HOME</a></li>
                    
                      <li><a href="checkout.html">CHECKOUT</a></li>
                <li  class="dropdown">
                  <a href="product.html" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PRODUCT <span class="caret"></span></a>
                  <ul class="dropdown-menu" role="menu">
                    <li class="active" ><a href="product.html">Product Page</a></li>
                    <li><a href="checkout.html">Checkout</a></li>
                    <li><a href="product.html">Sale</a></li>
                    <li class="divider"></li>
                    <li><a href="http://google.com">Google it</a></li>
                  </ul>
                </li>
              </ul>
              
              <ul class="nav navbar-nav navbar-right">
       
                    <button class="btn cart" type="button">
                   ITEMS IN THE CART<span class="badge">4</span>
                  </button>
                </ul>
              </div>
            </div>
          </nav>


               
    <div class="container">
        
      <div class="container wine">
        <ul class="nav nav-tabs">
        <li><a href="#">Sort by Category :</a></li>
        <li id="all"><a href="#">All</a></li>
        <li id="red"><a href="#">Red Wine</a></li>
        <li id="white"><a href="#">White Wine</a></li>
        <li id="sparkle"><a href="#">Sparkling Wine</a></li>
        </ul>
      </div>


    <div class="media red">
      <div class="media-left media-middle">
      <a href="#">

        <img class="media-object" img src="images/cabernet.jpg">

          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Cabernet Sauvignon</h4>
            <h3 class="price">$1.00</h3>
          </div>
        </div>

       <div class="media red">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/merlot.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Merlot</h4>
             <h3 class="price">$3.00</h3>
          </div>
        </div>


      <div class="media red">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/pinotnoir.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Pinot Noir</h4>
             <h3 class="price">$5.00</h3>
          </div>
        </div>

         <div class="media white">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/chardonnay.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Chardonnay</h4>
             <h3 class="price">$6.00</h3>
          </div>
        </div>

         <div class="media white">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/pinotgrigio.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Pinot Grigio</h4>
            <h3 class="price">$4.00</h3>
          </div>
        </div>

    <div class="media white">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/riesling.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Riseling</h4>
            <h3 class="price">$9.00</h3>
          </div>
        </div>


    <div class="media white sparkling">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/moscato.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Moscato</h4>
            <h3 class="price">$6.00</h3>
          </div>
        </div>


    <div class="media red">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/zinfandel.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Zinfandel</h4>
            <h3 class="price">$5.00</h3>
          </div>
        </div>
       
       
    <div class="media white">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/gewurtz.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Gewürztraminer</h4>
            <h3 class="price">$8.00</h3>
          </div>
        </div>

            <div class="media white sparkling">
      <div class="media-left media-middle">
      <a href="#">
        <img class="media-object" img src="images/prosecco.jpg">
          </a>
        </div>
    <div class="media-body">
            <h4 class="media-heading">Prosecco</h4>
            <h3 class="price">$9.00</h3>
          </div>
        </div>
       
       

<footer>
    <div class="jumbotron">
    <div class="container">
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col-md-3">
        <h3>Visit Us</h3>
        <img src="http://www.tipandtrick.net/wp-content/uploads/2013/03/google-maps-no-info-bubble.png" class="img-thumbnail" alt="Cinque Terre" width="304" height="136">

          </div>
          <div class="col-md-3">
            <h3>Section1</h3>
            <div class="list-group">
        <a href="#" class="list-group-item">Cras justo odio
        </a>
        <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">Morbi leo risus</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
       
      </div>
          </div>
          <div class="col-md-3">
            <h3>Section2</h3>
            <div class="list-group">
        <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-book"></span>
          Cras justo odio
        </a>
        <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-home"></span>
        Dapibus ac facilisis in</a>
        <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-envelope"></span>
        Morbi leo risus</a>
        <a href="#" class="list-group-item">
        <span class="glyphicon glyphicon-print"></span>
        Porta ac consectetur ac</a>
        <a href="#" class="list-group-item">Porta ac consectetur ac</a>
        
      </div>
    </div>
    <div class="col-md-3">
      <h3>Section3</h3>
      <div class="list-group">
  <a href="#" class="list-group-item">Cras justo odio
  </a>
  <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
  <a href="#" class="list-group-item">Morbi leo risus</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>
  <a href="#" class="list-group-item">Porta ac consectetur ac</a>

    </div>
  </div>
  
</div>
  
</div>

</footer>

    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="js/product.js"></script>
  </body>
</html>
